exercices/exercice_Makefile/libs/
exercices/exercice_Makefile/main.c
exercices/exercice_Makefile/t1.c
exercices/exercice_Makefile/t1.h
exercices/exercice_Makefile/t2.c
exercices/exercice_Makefile/t2.h

